/* style.module.css */
.heroWrapper {
  min-height: 90vh;
  min-height: 90svh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  overflow: hidden;

}

.heroBg {
  position: absolute;
  inset: 0;
  z-index: 0;
}

.heroBg :global(img) {
  object-fit: cover;
  object-position: center;
}

.heroOverlay {
  position: absolute;
  inset: 0;
  /* background: rgba(0, 0, 0, 0.35); */
  pointer-events: none;
  z-index: 1;
}

.heroContent {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  /* max-width: 600px; */
  padding: 56px 0 24px;
}

/* Остальные стили остаются без изменений */
.heroContentSpan {
  all: unset;
  color: var(--akcentnyy-1);
  opacity: 0.8;
}

.heroButBox {
  display: grid;
  grid-template-columns: 1fr ;
  gap: 20px;
  margin-top: 48px;
  
}

.heroBtn {
}

.heroBtn2 {
  background: var(--akcentnyy-1);
  color: var(--belyy);
}

.heroBtn2:hover {
  background: var(--belyy);
  color: var(--temnyy-2);
}

/* ===== Advantages ===== */
.heroAdvantages {
  background: var(--temnyy-1);
  padding: 30px 0;
  position: relative;
  margin-bottom: clamp(30px, 10vw, 120px);
}

.advGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 18px;
  align-items: stretch;
}

.heroAdvantagesItem {
  display: flex;
  align-items: center;
  gap: 16px;
  position: relative;
  padding: 10px 0;
}

.heroAdvantagesItem:not(:last-child)::after {
  content: "";
  position: absolute;
  right: 18px;
  top: 10px;
  bottom: 10px;
  width: 1px;
  background: rgba(255, 255, 255, 0.2);
}

.heroAdvantagesItem p {
  font-weight: 500;
  font-size: clamp(14px, 1vw, 16px);
  text-transform: uppercase;
  color: var(--belyy);
  max-width: 250px;
  line-height: 1.25;
}

.heroH2 {
  font-weight: 500;
  font-style: Medium;
  font-size: clamp(14px, 1.3vw, 28px);
  line-height: 120%;
  letter-spacing: 0%;
}

.heroH2Sp {
  font-size: clamp(13px, 1.2vw, 25px);
  color: var(--seryy-1);
  padding-top: 10px;
  display: block;
}


.priceBtn {
  background: var(--belyy);
  color: var(--temnyy-1);
  /* grid-column: 1 / span 2 ; */
}


.priceBtn:hover {
  background: var(--akcentnyy-1);
  color: var(--belyy);

}

/* ================== RESPONSIVE ================== */

@media (max-width: 1024px) {
  .heroContent {
    max-width: 560px;
    padding: 44px 0 18px;
  }

  

  .advGrid {
    grid-template-columns: repeat(2, 1fr);
  }

  .heroAdvantagesItem::after {
    display: none;
  }
}

.subTitle {
  font-size: clamp(21px, 3.4vw, 52px);
  text-align: justify;
  text-wrap-mode: nowrap;
}

@media (max-width: 640px) {
  .heroButBox {
    display: flex;
    flex-direction: column;
    gap: 0;
  }

  .heroContent {
 gap: 12px;
        max-width: 100%;
        height: 90vh;
        padding: 98px 0 14px;
  }
  .contain {
    height: 100%;
  }
  .heroButBox {
    margin-top: auto;
    width: 100%;
  }

  .heroBtn {
    margin-top: 8px;
    width: 100%;
    text-align: center;
  }

  .advGrid {
    grid-template-columns: 1fr 1fr;
    gap: 0px;
  }

  .heroAdvantages {
    padding: 22px 0;
  }

  .heroAdvantagesItem {
    padding: 12px 0;
    padding: 8px;
  }

  .heroAdvantagesItem:nth-child(2n) {
    border-left: 1px solid var(--belyy);
  }

  .heroAdvantagesItem:nth-child(3),
  .heroAdvantagesItem:nth-child(4) {
    border-top: 1px solid var(--belyy);
  }

  .heroAdvantagesItem p {
    font-size: 10px;
    max-width: 100%;

  }
}