.BreadCrumbs {
  padding: 16px 0;
}

.list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
}

.item {
  display: flex;
  align-items: center;
  gap: 8px;
}

.separator {
  opacity: 0.6;
}

.separator.dark {
  color: var(--akcentnyy-1);
}

.link {
  text-decoration: none;
  color: var(--seryy-1);
  transition: color 0.2s ease;
}

.link.dark {
  color: var(--temnyy-2);

}

.link:hover {
  color: var(--belyy);
}

.link.dark:hover {
  color: var(--akcentnyy-1);
}

.current {
  color: var(--belyy);
  cursor: default;
}

.current.dark {
  color: var(--temnyy-2);
}

.link.dark {
  color: var(--temnyy-2);

}


@media (max-width: 470px) {


}